@charset "utf-8";
body {
background-image: url('test2.jpg');
background-size: cover;
color: #ffffff;
font-family: Arial, Verdana, sans-serif;
}

footer {
background-color: #333333;
color:white;
font-size: .75em;
font-style: italic;
font-family: 'Courier New', Courier, monospace;
}

.but {
    float: left;
    border-right: 1px solid black;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #030303;
}

li:last-child {
    border-right: none;
}

li a:hover:not(.at) {
background-color: red;
}

.at {
    background-color: #C70000;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }

.bord {
    padding: auto;
    border-image: stretch;
}