@charset "utf-8";
body {
background-image: url('test2.jpg');
background-size: cover;
color: #ffffff;
font-family: Arial, Verdana, sans-serif;
}

footer {
background-color: #333333;
color:white;
font-size: .75em;
font-style: italic;
font-family: 'Courier New', Courier, monospace;
}

.buttons {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: solid;
    border-color: black;
    height: 36px;
    width: 105px;
    border-radius: 18px;
    cursor: pointer;
    margin-right: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.7s, 
    color 0.7s, box-shadow 0.7s;
    
}
.buttons:hover {
    background-color: black;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    
}
.buttons:active {
    background-color: black;
    color: white;
    opacity: 0.5;
}

